{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block pagetitle%}

<div class="text-secondary">
    <h1>Review Update</h1>
</div>

{%endblock%}

{% block content%}
<form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
            Delete Review of {{review.product}}
            <div class="white-box text-center"><img class="rounded-square" width="250px "src="{{review.product.productphoto.url}}" alt=""></div>
        </legend>
        {{form|crispy}}

        
    </fieldset>
    <div class="form-group">
        <button class="col-md-3 btn btn-dark" type="submit">
            Yes, Delete
        </button>
        <a class="col-md-3 btn btn-dark" href="{% url 'products'%}">Cancel </a>
    </div>
</form>


{%endblock%}
